html {
  --background-color: #fcfcfc;
  --primary-color: #fb00ff;
}

html[data-dark="true"] {
  --background-color: #0f0f0f;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: var(--background-color);
  transition: 300ms background-color;
}

.toggle {
  font-family: "Play", sans-serif;
  font-size: 40px;
  color: var(--primary-color);
  border: 4px solid var(--primary-color);
  background: none;
  padding: 20px;
  cursor: pointer;
  text-transform: uppercase;
  transition: 200ms transform ease-in-out;
}

.toggle:hover {
  transform: scale(0.95);
}
